<%= link_to entry, class: "card entry", data: {entry_id: entry.id} do %>
    <% if entry.entrant.underage? %>
        <div class="ribbon-wrapper">
            <div class="ribbon underage">UNDERAGE?</div>
        </div>
    <% elsif entry.favorited? %>
        <div class="ribbon-wrapper">
            <div class="ribbon favorite">FAVORITE</div>
        </div>
    <% end %>
    <div class="card-image">
        <% if entry.video_present %>
            <%= image_tag entry.video.url(:thumb), class: "entry-poster img-responsive" %>
        <% else %>
            <div class="video-not-found">
                Video not found
            </div>
        <% end %>
    </div>
    <div class="card-header entrant-name"><%= entry.entrant.name %></div>
    <div class="card-copy">
        <p class="entry-time">
            <% if entry.date_created.present? %>
                <%= time_ago_in_words(entry.date_created) %> ago
            <% else %>
                <%= time_ago_in_words(entry.created_at) %> ago
            <% end %>
        </p>
        <p class="location"><%= entry.location %></p>
    </div>
<% end %>
