<article class="entry" data-entry-id="<%= @entry.id %>">
    <%= video_tag @entry.s3_uri, controls: true, autobuffer: true, poster: @entry.video.url(:thumb), autoplay: true, class: "entry-video"   %>
    <div class="entry-actions actions button-to-group">
        <%= button_to "Decline#{'d' if @entry.declined?}", decline_entry_path, class: "btn-red #{'inactive' unless @entry.declined?}", disabled: @entry.declined? %>
        <%= button_to "Approve#{'d' if @entry.approved?}", approve_entry_path, class: "#{'inactive' unless @entry.approved?}", disabled: @entry.approved? %>
        <%= button_to "Favorite#{'d' if @entry.favorited?}", favorite_entry_path, class: "btn-green #{'inactive' unless @entry.favorited?}", disabled: @entry.favorited? %>
    </div>
    <div class="entrant-info">
        <h2 class="entrant-name">
            <%= @entry.entrant.name %>
            <% if @entry.entrant.underage? %>
                <span class="badge error">Underage</span>
            <% end %>
        </h2>
        <% if @entry.date_created.present? %>
            <p class="published-date">Submitted on <%= @entry.date_created.strftime("%A, %B %-d, %Y") %>
        <% else %>
            <p class="published-date">Submitted on <%= @entry.created_at.strftime("%A, %B %-d, %Y") %>
        <% end %>
            <% if @entry.location.present?%> 
                from <%= @entry.location %>
            <% end %>
        </p>
        <span class="entrant-email"><%= @entry.entrant.try(:email) %></span>
        <span class="entrant-phone"><%= @entry.entrant.try(:phone) %></span>
        <span class="entrant-street-address"><%= @entry.entrant.try(:street_address) %></span>
        <span class="entrant-zipcode"><%= @entry.entrant.try(:zipcode) %></span>
        <span class="entrant-birthdate"><%= "Born " + @entry.entrant.try(:birthdate).strftime("%B %-d, %Y") %></span>
    </div>

</article>
<aside class="related-entries">
    <% @entries.each do |entry| %>
        <%= render 'entry_card', entry: entry %>
    <% end %>
</aside>
